*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "sans-serif";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: #fff;
    position: relative;
}
#nav{
    width: 100%;
    padding: 35px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700px;
}
#nav h3{
    font-size: 18px;
}
#heading{
    margin-top: 80px;
}
#heading h1{
    margin-left: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.6;
    line-height: 1;
}
#heading #secondh1{
    margin-left: 200px;   
}
.blocktext{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 130px;
}
#chhotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right:30px;
}
#chhotiheadings h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: 1vw;
}
#herofooter{
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
#herofooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
#herofooter #iconset{
    display: flex;
    gap:7px; 
}
#herofooter  .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:25px ;
    border-radius:50% ;
    background-color: #888;
}
#second{
    color:#fff;
    width: 100%;
    height: 100vh;
    background-color:black;
    padding-top: 150px;
    padding-right: 10vw;
    padding-left: 5vw;
}
.element{
    position: relative;
    width: 100%;
    padding: 4vw,3vw;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.element h1{
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 8vw;
    opacity: 0.7;  
}
.element h6{
    font-size: 20px;
}
.last{
    border-bottom: 1px solid #888;
}
.element img{
    opacity: 0;
    pointer-events: none;
    height: 100%;
    display: none;
    z-index: 999;
    position: absolute;
}
#about{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: black;
    padding-left: 30vw;
    padding-top: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    display: flex;
    align-items: center;
    gap: 50px; 
}
#about img{
    width: 300px;
    height: 300px;  
}
#textabout{
    height: 25rem;
    margin-top: 80px;
}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
    font-size: 15px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 18px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    bottom: 0;


}
#subscribe{
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
}
#subscribe h5{
    margin-left: 30px;
    font-size: 1rem;
    opacity: 0.6;
}
#subscribe h3{
    margin-left: 30px;
    text-transform: uppercase;  
}
#footer{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
#time{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
}
#time p{
    color: #fff;
    font-size: 20px;
}
#sociallinks{
    display: flex;
    align-items: center;
    gap: 40px;
}
#sociallinks a{
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 40px;
}
#last{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding-left: 400px;   
}
#last p{
    font-size: 40px;
    color: seagreen;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 20px;
}
#last button{
    height: 40px;
    width: 200px;
    font-weight: 500;
    border-radius: 100px;
    border: 2px solid white;
    font-size: 20px;
    background-color: #888;
}
